.Communities{
    width: 45.84vw;
    background-color: black;
    color: white;
    border-left: 1px white solid;
    border-right: 1px white solid;
}

.CommunitiesHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px white solid;
    padding: 0 5%;
    font-size: 1.3rem;
}

.CommunitiesHeader div{
    width: 33%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#BackButton{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    font-weight: 900;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}

#BackButton:hover{
    background-color: grey;
    transition: 1s;
}

/*  ================================================================================  */
/*                                       Communities                                  */
/*  ================================================================================  */

.CommunitiesNavList{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
}

.CommunitiesNavBar{
    text-decoration: none;
    color: white;
    border: 1px white solid;
    height: 10px;
    border-radius: 15px;
    width: fit-content;
    margin: 2%;
    padding: 1% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
.CommunitiesNavBar.active{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: 900;
}

.CommunitiesNavBar:hover{
    background-color: rgba(128, 128, 128, 0.301);
    font-weight: 800;
} 

.CommunitiesNavList::-webkit-scrollbar {
    height: 2px;
  }

/* .CommunitiesNavList::-webkit-scrollbar-thumb { 
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
} */
  
.CommunitiesNavList::-webkit-scrollbar-thumb:hover {
    background-color: #116cd4;
}
  
.CommunitiesNavList::-webkit-scrollbar-thumb:active {
    background-color: #85e762;
}
  