/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */


  /*  */
 

  .App{
    display: flex;
  }

h1{
  margin: 0%;
  padding: 0%;

}
.parantNav{
  display: flex;
}

.Nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    width: 23vw;
    height: 100vh;
    background-color: black;
    padding-right: 7%;
}

.NavBar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.NavBar ul li{
      display: flex;
      justify-content: start;
      align-items: center;
      font-size: 1.1em;
      font-weight: 369;     
      cursor: pointer;   
      color: azure;
}

.NavBar ul li:hover,
.Nav-Foot:hover{
  background-color: rgba(116, 113, 113,0.6);
  border-radius: 50px;
}

.link{
  text-decoration: none;
  
}

.NavBar ul li * {
  padding: 10px 15px;
  margin: 0%; 
  text-transform: capitalize;
}
.PostBox{
  display: flex;
  justify-content:end;
  width: 100%;
}
#PostBtn{
  height: 40px;
  width: 220px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: rgba(3, 92, 226,0.9);
  font-size: 17px;
  font-weight: 580;
  color: white;
  margin-right: -8.3%;
}

#PostBtn:hover{
  background-color: rgb(39, 98, 187);
  box-shadow: 0.5px 0.5px 5px rgb(255, 255, 255);
}

.Nav-Foot{
  margin:0px -30px 20px 10px;
  padding: 7px 0;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;

}

.Nav-Foot div  *{
  margin: 0%;
  padding: 0% 20px;
  cursor: pointer;
  color: white;
}

.Nav-Foot p{
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.Nav-Foot img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}